* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//Se agregan varialbles para los colores y sombras

$colorweb1:rgba(137, 137, 247, 0.647); //color central de la web
$sombratexto:4px 4px 5px black;        //color de sombra de textos
$boxsombra:7px 4px 5px rgba(0, 0, 0, 0.466); //sombras en bordes 
$bodycolor:#65fbd334; //color body

body{
    background-color:$bodycolor;
}

/*Menu con Boostrap*/ //Inicio de cabezera y menu
nav{
    display: flex;
    background-image: url(../img/cabecera.jpg);
    background-size: cover;
    padding: 1% !important;
    .logo{
        width: 40%;
    }
    .btn-info{
        background-color:$colorweb1 ;
        color: rgba(255, 255, 255, 0.895);
        box-shadow: $boxsombra;
    }
    .navbar-collapse{
        text-align: center;
    }
    .nav-item{
        padding: 2px;
    }
    .navbar-toggler{
        background-color:$colorweb1 ;
    }
}
//fin de cabezera y menu

/* Titulos */

//H1 contiene una pequeña animacion que se agranda el titulo al pasar el mouse
h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 15px;
    color: rgba(137, 137, 247, 0.678);
    font-style: italic;
    font-size:90px;
    text-shadow: $sombratexto;
    transition: font-size 2s;
    text-align: center;
    margin-top: 40px;
}
h1:hover{
    color:rgba(137, 137, 247, 0.451) ;
    text-shadow: 3px 3px 4px black;
    transition-timing-function: ease;
    transition: 1.5s;
    font-size: 100px;
}

h2 {
    text-align: center;
    padding: 20px;
    margin-top: 60px;
    margin-bottom: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 200%;
    color:#0c0909;
    text-shadow: 7px 4px 5px rgba(0, 0, 0, 0.466);
}

h3{
    text-align: center;
    padding: 2px;
    margin-top: 1px;
    margin-bottom: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 150%;
    color:#0c0909;
    text-shadow: 7px 4px 5px rgba(0, 0, 0, 0.466);
}

//fin de titulos usados en la web h1 h2 h3

// PAGINA PRINCIPAL UTILIZANDO GRIDS,

.textoSubtitulo {
    background-color: #eadbebb4;
    font-size: 20px;
    padding: 10px;
    margin:0, auto;
    border-radius: 10px;
    box-shadow:$boxsombra ;
    text-align: center;
}
// SE UTILIZA MIXIN PARA NO REPETIR CODIGO

.frases{
    width: 100%;
    height: 1800px;
    display: grid;
    grid-template-columns:repeat(2, 1fr); 
    margin-left:auto;
    margin-right: auto;
    grid-gap: 20px;
    padding: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 180%;
    text-align: center;

    @mixin frases {
        display: flex;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        box-shadow: 7px 4px 5px rgba(0, 0, 0, 0.644);
        border-radius: 10px;
        align-items: center;
        color: white;
        text-shadow: $sombratexto;
    }
    @mixin fraseoculta {
        display: none;
    }
    .frase1{
        background-image: url(../img/ocaso-mar.jpg);
        @include frases();
    }
    .frase4{
        background-image: url(../img/camino.jpg);
        @include frases();
    }
    .frase5{
        background-image: url(../img/montaña.jpg);
        @include frases();
    }
    .frase2{
        @include frases();
        color:#0c0909;
        box-shadow:none;
    }
    .frase3{
        @include frases();
        color:#0c0909;
        box-shadow:none;
    }
    .frase6{
        @include frases();
        color:#0c0909;
        box-shadow:none;
    }
    // SE OCULTAN PARTES DE LA PAGINA PARA LUEGO LIBERARLAS EN MEDIA QUERY A UNA RESOLUCION MAS PEQUEÑA
    .frase1 p{
        @include fraseoculta();
    }
    .frase4 p{
        @include fraseoculta();
    }
    .frase5 p{
        @include fraseoculta();
    }
}

// QUINES SOMOS  se utiliza boostrap */
// Se aplica un mixin a los testimonios

@mixin rostro {
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150%;
    border-radius: 100%;
    height: 120px;
    width: 120px;
    text-align: center;
    line-height: 120px;
    margin-right: 10px;
}

.rostro1 {
    background-image: url(../img/testimonio1.jpg);
    @include rostro();

}
.rostro2 {
    background-image: url(../img/testimonio2.jpg);
    @include rostro();
}
.rostro3 {
    background-image: url(../img/testimonio4.jpg);
    @include rostro();
}

.video{
    height: 500px;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 5px;
}
.videoTamaño{
    width: 60%;
    height: 100%;
}
/* TALLERES  se aplica boostrap a las tablas*/

.tablaTalleres{
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 1;
}
.cursoTalleres{
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 100px;
    margin-bottom: 180px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:20px;
}
table{
    text-align: center;
    height: 50%;
    width: 100%;
    background-color: white;
    text-shadow: 7px 4px 5px rgba(0, 0, 0, 0.409);
    th,td{
        border: solid 2px;
        padding:10px;
    }
    thead{
        border: solid 2px;
        background-color:$colorweb1 ;
    }
}

/* GALERIA se implementa un carrusel con boostrap */

.carousel-item img{
    border-radius: 10px;
}
.textoCarrusel{
    color: white;
    color:rgb(137, 137, 247);
    text-shadow: 3px 3px 4px black;
}
.carrusel{
    height: 800px;
}

// CONTACTO se utiliza algo de boostrap en los inputs

.formulario{
    background-color: #eadbebb4;
    box-shadow:4px 7px 4px 5px rgba(0, 0, 0, 0.525);
    text-align: center;
    font-size: 20px;
    width:50%;
    padding: 20px;
    margin-bottom: 50px;
    overflow:visible;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.subtitulosFormulario{
    font-size: 20px;
}
.contenedorFormulario{
    display: flex;
    align-items: center;
    justify-content: center;
}
.enviar{
    padding: 10px;
}
/* Se agrega Gradiente */ //comienza footer // se utilizan iconos de fontawesome

footer{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image:linear-gradient(to left, rgba(255, 255, 255, 0.464),rgba(255, 255, 255, 0.003)), url(../img/cabecera.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: auto;
    list-style:none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100%;
    text-shadow: 3px 4px 5px rgba(0, 0, 0, 0.747);
    margin-top: 15px;
    .piedePaginaRedes{
        text-align: center;
        padding-bottom: 30px;
        padding-top: 15px;
    }
    .piedePaginaRedes p{
        margin-top: 10px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bolder;
        color:$boxsombra;
        text-shadow:$colorweb1;
        font-size: 18px;
    }
    .fa-brands{
        font-size: 50px;
        color:$colorweb1;
        padding: 5px;
    }
}
//finaliza footer

//COMIENZO DE MEDIA QUERYS DE MAYOR RESOLUCION A MENOR

@media only screen and (max-width:984px){
    .carrusel{
        height: 500px;
    }
}
@media only screen and (max-width:772px){
    h1{
        font-size: 50px;
    }
    .carrusel{
        height: 400px;
    }
    .cursoTalleres{
        font-size: 15px;
        padding:0;
        margin: 0, auto;
        width:100%;
    }
    .tablaDuracionOculta{
        display: none;
    }
    table th,td{
        padding:5px
    }
    .menuPaginaTalleres{
        position:absolute
    }
    }
@media only screen and (max-width:600px) {
    h1{
        display: flex;
        margin-top: 30px;
        padding: 0%;
        justify-content: center;
    }
    h2{
        margin-top: 10px;
    }
    .logo{
        display: none;
    }
    .logo img{
        display: none;
    }
    .footer{
        height: 50px;
    }
    .piedePaginaRedes{
        text-align: center;
        margin-top: 5px;
        padding-bottom: 10px;
        padding-top: 5px;
    }
    .piedePaginaRedes img{
        height: 60px;
        padding-bottom: 5px;
    }
    .piedePaginaRedes p{
        display: none;
    }
    .frases{
        font-size: 120%;
        grid-template-columns:repeat(1, 1fr);
    }
    header{
        grid-template-columns: repeat(1,1fr);
    }
    .galeria{
        grid-template-columns:repeat(1, 1fr);
        width: 100%;
    }
    .textoSubtitulo {
        background-color: #eadbebb4;
        font-size: 15px;
        width: 100%;
        padding: 10px;
    }
    .menuPagina{
        background-position: center;
        width:180px;
        height: 180px;
        font-size: 130%;
        text-align: center;
        margin:0,auto;
        margin-top: 1px;
    }
    .videoTamaño{
        width: 100%;
        margin: 0;
    }
    .cursoTalleres{
        font-size: 15px;
        padding:0;
        margin: 0, auto;
        width:100%;
    }
    .tablaDuracionOculta{
        display: none;
    }
    th,td{
        padding:5px
    }
    .menuPaginaTalleres{
        position:absolute
    }
    .formulario{
        width: 100%;
    }
    h1:hover{
        color:rgba(137, 137, 247, 0.451) ;
        text-shadow: 3px 3px 4px black;
        transition-timing-function: ease;
        transition: 0.5s;
        font-size: 70px;
    }
    .carrusel{
        height: 300px;
    }
    @mixin frases {
        display: flex;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        box-shadow: 7px 4px 5px rgba(0, 0, 0, 0.644);
        border-radius: 10px;
        align-items: center;
        color: white;
        text-shadow: $sombratexto;
    }
    @mixin fraseoculta {
        display: none;
    }
    .frases .frase2{
        @include fraseoculta();
    }
    .frases .frase3{
        @include fraseoculta();
    }
    .frases .frase6{
        @include fraseoculta();
    }
    .frases .frase1 p{
        @include frases();
        box-shadow: none;
    }
    .frases .frase4 p{
        @include frases();
        box-shadow: none;
    }
    .frases .frase5 p{
        @include frases();
        box-shadow: none;
    }
}

@media only screen and (max-width:400px){
    h1{
        font-size: 50px;
    }
    .carrusel{
        height: 200px;
    }
    .table .th .td{
        padding: 5px, !important;
    }
}

@media only screen and (max-width:302px){
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 25px;
    }
    h3{
        font-size: 25px;
    }
    .menuPagina{
        background-position: center;
        width:150px;
        height: 180px;
        font-size: 120%;
        text-align: center;
        margin-top: 1px;
        align-items: center;
        margin-right: 50px;
    }
    .tablaDuracionOculta{
        display: none;
    }
    th,td{
        padding:1px;
        font-size: 10px;
     }
    .testimonio1{
        font-size: 15px;
        padding: 3px;
    }
    .testimonio2{
        font-size: 15px;
        padding: 3px;
    }
    .testimonio3{
        font-size: 15px;
        padding: 3px;
    }
    .containerTestimonio{
        padding: 3px;
    }
    .carrusel{
        height: 200px;
    }
    }
//Fin de media querys